In [14]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split

In [15]:
# this will set the notebook to display all the executed statement value on the screen
#print multiple statement in single line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [16]:
# load dataset
data = pd.read_csv('santander.csv', nrows=25000)
data.shape

(25000, 371)

In [17]:
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [5]:
data =data.dropna(how='any')

In [6]:
pd.isnull(data).sum()

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_comer_ult3          0
imp_op_var40_efect_ult1          0
imp_op_var40_efect_ult3          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult1          0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1_0                       0
ind_var1                         0
ind_var2_0                       0
ind_var2                         0
ind_var5_0                       0
ind_var5                         0
ind_var6_0                       0
ind_var6                         0
ind_var8_0                       0
ind_var8                         0
                                ..
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult1     0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace2    0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace2    0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var13_medio_ult3     0
saldo_medio_var17_hace2          0
saldo_medio_var17_hace3          0
saldo_medio_var17_ult1           0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var29_ult3           0
saldo_medio_var33_hace2          0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult1           0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace2          0
saldo_medio_var44_hace3          0
saldo_medio_var44_ult1           0
saldo_medio_var44_ult3           0
var38                            0
TARGET                           0
Length: 371, dtype: int64

In [7]:
for col in data.columns:
    if data[col].dtype == "object":
        data[col] = pd.Categorical(data[col]).codes

In [8]:
data.shape

(25000, 371)

# Split the data into train and test set

In [18]:
# separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    data.drop(labels=['TARGET', 'ID'], axis=1),
    data['TARGET'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((17500, 369), (7500, 369))

# Using variance threshold from sklearn

In [19]:
sel = VarianceThreshold(threshold=0)
sel.fit(X_train)  # fit finds the features with zero variance

VarianceThreshold(threshold=0)

In [20]:
# get_support is a boolean vector that indicates which features are retained
# if we sum over get_support, we get the number of features that are not constant
sum(sel.get_support())

299

In [21]:
# another way of finding non-constant features is like this:
len(X_train.columns[sel.get_support()])

299

# Remove variance threshold =0 columns

In [13]:
X_train = sel.transform(X_train)
X_test = sel.transform(X_test)

X_train.shape, X_test.shape

((17500, 299), (7500, 299))

# After removing the features using variance threshold from 369 to 299